<div class="container">
  <div class="content">
    <%= erb :logo %>
    <h1><%= I18n.t(:delivery_tracking) %></h1>

    <% if flash[:success] %>
      <div class="flash-success">
        <span><%= I18n.t('views.notification_request.create.success') %></span>
      </div>
    <% end %>

    <form action="/notification_requests" method="POST">
      <input
        type="text"
        placeholder="<%= NotificationRequest.human_attribute_name('tracking_code') %>"
        class="field"
        name="tracking_code"
      ><br />
      <span class="field-error"> <%= show_errors_for_field(form_errors, 'tracking_code') %> </span>

      <input
        placeholder="<%= NotificationRequest.human_attribute_name('email_for_contact') %>"
        class="field"
        name="email_for_contact"
      ><br />
      <span class="field-error"> <%= show_errors_for_field(form_errors, 'email_for_contact') %> </span>

      <select class="field" name="delivery_company_id">
        <% delivery_companies.map do |company| %>
          <%= "<option value=\"#{company[:id]}\">#{company[:name]}</option>" %>
        <% end %>
      </select>
      <input type="submit" value="<%= I18n.t('views.notification_request.create.notify_me') %>" class="btn">
    </form>
    <div class="pass-link">
      <a id="open-button" class="open-button" href="#" >
        <%= I18n.t('views.notification_request.create.modal.title') %>
      </a>
    </div>
  </div>
</div>

<div class="modal-overlay closed" id="modal-overlay"></div>

<div class="modal closed" id="modal">
  <button class="close-button" id="close-button">&times;</button>
  <div class="modal-guts">
    <h1><%= I18n.t('views.notification_request.create.modal.title') %></h1>
    <div><%= I18n.t('views.notification_request.create.modal.content') %></div>
  </div>
</div>

<script>
  var modal = document.querySelector("#modal");
  var modalOverlay = document.querySelector("#modal-overlay");
  var closeButton = document.querySelector("#close-button");
  var openButton = document.querySelector("#open-button");

  closeButton.addEventListener("click", function() {
    modal.classList.toggle("closed");
    modalOverlay.classList.toggle("closed");
  });

  openButton.addEventListener("click", function() {
    modal.classList.toggle("closed");
    modalOverlay.classList.toggle("closed");
  });
</script>
